.col {
  float: left;
  width: 500px;
  background-color: transparent;
  height: 100px;
  margin: 10px;
}
.sep {
  border-bottom: 1px solid black;
  width: 100%;
}

body {
  background-color: #e6e6e3;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.button {
  margin-top: 32px;
  border: 2px solid lightgray;
  width: 500px;
  border-radius: 5px;
  background-color: transparent;
}
.button:hover {
  background-color: lightgray;
}
.button:active {
  background-color: gray;
}
.buttonf {
  margin-top: 32px;
  border: 2px solid rgb(158, 151, 151);
  width: 500px;
  border-radius: 5px;
  background-color: transparent;
}
.buttonf:hover {
  background-color: lightgray;
}
.buttonf:active {
  background-color: gray;
}
.buttonff {
  margin-top: 32px;
  border: 2px solid rgb(0, 0, 0);
  width: 500px;
  border-radius: 5px;
  background-color: transparent;
}
.buttonff:hover {
  background-color: lightgray;
}
.buttonff:active {
  background-color: gray;
}
.buttonh {
  background: none;
  border: none;
  font-size: 40px;
  margin-top: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.buttonhs {
  background: none;
  border: none;
  font-size: 40px;
  margin-top: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.buttonhss {
  background: none;
  border: none;
  font-size: 40px;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.buttons {
  margin-top: 32px;
  border: 2px solid lightgray;
  width: 500px;
  border-radius: 5px;
  background-color: transparent;
}
p {
  text-align: center;
  font-size: 20;
}
.ho {
  text-align: center;
  font-size: 40px;
}
.ho2 {
  text-align: center;
  font-size: 30px;
}
.cos {
  width: 99%;
  text-align: center;
  font-size: 25px;

  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}
.cos2 {
  width: 99%;
  text-align: center;
  font-size: 25px;

  border-radius: 5px;
  margin-bottom: 5px;
}
.font1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
